
body {
  overflow: hidden;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  background-size: cover;
  overflow: scroll;
}
.fondoh1{
  background-color: #ffffff;
}
